@media(max-width: 436px) {
    .container-banner h1{
        font-size: 50px;
    }
    .container-eventos{
        width: 100%;
        display: flex;
    }
    .secao-eventos img{
        width: 100%;
    }
    .container-eventos p {
        width: 250px;
        text-align: center;
        margin: 20px 0 100px 0;
    } 
    .container-eventos h2 {
        width: 300px;
        text-align: center;
        margin-top: 60px;
        font-size: 30px;
    }
    .secao-eventos{
        display: flex;
        flex-direction: column-reverse;
    }
    .container-eventos spam {
        font-size: 18px;
    }
}

@media(max-width: 768px) {
    .container-banner h1{
        font-size: 60px;
    }    
    .secao-eventos{
        display: flex;
        flex-direction: column-reverse;
    }
    .secao-eventos img{
        width: 100%;
        height: 25%;
    }
    .container-eventos p {
        width: 65%px;
        text-align: center;
        margin: 20px 0 100px 0;
    } 
    .container-eventos{
        width: 100%;
    }
    .container-eventos h2{
        margin: 60px 0 0 0;
        font-size: 28px;
    }
    .container-eventos spam {
        font-size: 20px;
    }
}